body {

    color: #000000;
    font-family: Arial, sans-serif;


}

.form h1 {
    font-size: 48px;
    padding-top: 5px;

}

.form {
    background: #0cfad6;
    width: 900px;
    height: auto;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding-left: 20px;
    border-radius: 30px;
}

.form input:hover {
    color: gray;
}


.form input[type="text"], input[type="password"], input[type="email"] {
    width: 50%;
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
}

.form input[type="submit"] {
    background-color: #333;
    color: #fff;
    font-size: 20px;
    padding: 10px 20px;
    margin: 15px 15px 15px auto;
    border: none;

}

.form a {
    color: #ff006b;
}

.form a:hover {
    color: gray;
}

.name input[type="text"]{
    width: 20%;
    margin-right: 70px;
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
}
meter {
    /* Ändert die Normale Erscheinung */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    margin: 0 auto 1em;
    width: 100%;
    height: 0.5em;

    /* Für Firefox*/
    background: none;
    background-color: rgba(0, 0, 0, 0.1);
}

meter::-webkit-meter-bar {
    background: none;
    background-color: rgba(0, 0, 0, 0.1);
}