.button {
    position: fixed;
    margin-top: 0.4%;
    width: 2rem;
    height: 2rem
}

.selected {
    border: solid;
}

.disSelected {
    border: solid transparent;
}

.icon {
    opacity: 0.7;
    filter: alpha(opacity=40);
}

.textField {
    min-width: 21px;
    position: fixed;
    margin-top: 0.9rem;
    width: 2em;
    color: white;
    text-align: center;
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    font-size: 16px;
}

.lowerBar {
    background-color: rgb(18, 18, 18);
    position: fixed;
    height: 10%;
    width: 100%;
    bottom: 0;
    left: 0;
}

.pageNumField {
    position: fixed;
    left: 49%;
    width: 1px;
    text-align: center;
    color: white;
    font-size: 18px;
}

.toolbox {
    border-radius: 30px;
    position: fixed;
    padding: 10px 10px;
    background: #0cfad6;
    text-align: center;
}

.progress {
    background: rgba(255, 255, 255, 0.1);
    z-index: 1;
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 40em;
    width: 500px;
}

.popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}


.progress-value {
    box-shadow: 0 10px 40px -10px rgb(20, 100, 20);
    border-radius: 100px;
    background: rgb(20, 100, 20);
    height: 30em;
}

#pdf {
    position: absolute;
    border: none;
    z-index: -5;
    page-break-inside: avoid;
    clear: none;
}

#commentContainer {
    position: absolute;
    border: none;
    z-index: -4;
}

#commentArea {
    position: absolute;
    z-index: -3;
    background-color: rgba(99, 99, 99, 0.5);
    border-radius: 3px;
}

#titleCard {
    text-align: center;
    color: black;
    font-size: 25px;
}

#titleBar {
    position: fixed;
    border-radius: 20px;
    right: 1%;
    left: 1%;
    top: 1%;
    background-color: #0cfad6;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    padding-top: 40px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
    border: 1px solid black;
    background: rgb(41, 41, 41);
    border-radius: 10px;

}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    height: 30px;
    width: 8px;
    border: 1px solid black;
    background: rgb(111, 111, 111);
    -webkit-box-shadow: 0 1px 1px rgb(0, 0, 0);
    background: -webkit-linear-gradient(rgb(200, 200, 200), rgb(150, 150, 150));
}

::-webkit-scrollbar-track-piece {
    height: 30px;
    width: 30px;
}

body {
    background-color: rgb(92, 92, 92);
    overflow: hidden;
}

html, body {
    max-height: 0px;
}

button {
    background-color: #333;
    color: #fff;
    font-size: 20px;
    padding: 5px 5px;
    border: none;
    cursor: pointer;
}